<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mean.mypermissions">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".ModulePreferenceProvider"
            android:authorities="com.mean.mypermissions.pref.module"
            android:exported="true"/>

        <activity android:name=".PermissionModeActivity"
            android:theme="@style/ActivityDialogStyle" >
            <intent-filter>
                <action android:name="com.mean.mypermissions.intent.permissions.REQUEST"/>
                <action android:name="com.mean.mypermissions.intent.permissions.CHECK"/>
                <action android:name="com.mean.mypermissions.intent.permissions.fake.CONTACT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PermissionActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="My Permissons!" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mean.mypermissions.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>